<div class="form">
<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- #moved below#
 <div class="field">
    <%= f.label :publish %><br>
    <%= f.check_box :publish %>
  </div>
-->

<div class="field">
  <%= f.label :name, "Survey Name" %><br>
  <%= f.text_field :name %>
</div>


  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, placeholder: "", value: "Describe your survey here." %>
  </div>


<!--  <h1>Questions!</h1> -->
  <%= f.fields_for(:questions) do |ff| %>


<!--
    <div class="form-container">
    <form  class="z_bootstrap-frm" id="target">
      <input type="text" id="questionInput" name="question" placeholder="Type your question here..." autofocus>
      <button type="submit" class="loginButton">+ Add</button>
    </form>
    <div style="clear:both;">

    </div>
    </div> -->


<!--
    <script type="text/template" id="li-template">
    <li class="question-preview" id="ruby-0">
    </li>
    </script>


    <ol class="question-container">
    </ol>
-->



<div class="eachQuestionBox">

  <div class="field" id="fieldQuestion">
    <%= ff.label :value, "Type Your Survey Question Here:" %><br>
    <%= ff.text_field :value %>
  </div>
  <br />

  <div class="field checkBoxInline">
    <%= ff.check_box :required %>

    <%= ff.label :required, "Required Question" %><br>
  </div>

  <!--randomly generated, set to display none-->
  <div class="field" id="fieldNumber">
    <%= ff.label :number, "Question Number" %><br>
    <%= ff.text_field :number, class: "numberFieldClass" %>
  </div>

  <div class="optional-settings">

    <div class="field">
      <%= ff.label :description %><br>
      <%= ff.text_area :description, value: "Optional: edit this field to describe your question. This is for your reference only and is not visible on the survey." %>
    </div>

    <div class="field checkBoxInline">
      <%= ff.check_box :_destroy %>
      <%= ff.label :_destroy, "Delete Question" %><br>
    </div>
  </div>
  <span class="options-toggle">Options</span>

</div>
  <% end %>


  <div class="addQuestion">
    + New Question
  </div>

  <div style="clear:both"></div>

<div class="field checkBoxInline" id="fieldPublish">
  <%= f.check_box :publish %>
 <%= f.label :publish, "Publish Survey Now" %>

</div>


   <!-- .roundedOne
   <div class="roundedOne">
     <input type="checkbox" value="None" id="roundedOne" name="check" checked />
     <label for="roundedOne"></label>
   </div>
    end .roundedOne -->


  <div class="actions">
    <%= f.submit "Update Survey", class: "surveySubmit", id: "surveySubmit" %>
  </div>
  <div style="clear:both"></div>
<% end %>


</div>


<%= link_to 'Survey Results', results_surveys_path(@survey) %>



<script>
$('.addQuestion').click(function() {
// on click clone the existing eachQuestionBox DOM elment


})




// alternate background colors per question
$('.eachQuestionBox:odd').css("background-color", "#ebeaec");


// toggle options on edit survey page
$('.options-toggle').click(function() {
  $(this).siblings('.optional-settings').slideToggle()
});

// create random number for number field
updateNumberField();

function updateNumberField() {

  // generate random nimber
  var min = 0; // ~
  var max = 1000000;
  var x = Math.floor((Math.random() * ((max + 1) - min)) + min);
  console.log(x);

  // plug it in to last number input on page
  var newNumber = x;
  $('.numberFieldClass:last').val(newNumber);
  currentNumberField = $('.numberFieldClass:last').val();
  console.log("currentNumberField: " + currentNumberField);



}
</script>
