<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :publish %><br>
    <%= f.check_box :publish %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <h1>Questions!</h1>
  <%= f.fields_for(:questions) do |ff| %>

  <div class="field">
    <%= ff.label :value %><br>
    <%= ff.text_field :value %>
  </div>
  <div class="field">
    <%= ff.label :required %><br>
    <%= ff.check_box :required %>
  </div>
  <div class="field">
    <%= ff.label :number %><br>
    <%= ff.text_field :number %>
  </div>
  <div class="field">
    <%= ff.label :description %><br>
    <%= ff.text_field :description %>
  </div>
  <div class="field">
    <%= ff.label :_destroy %><br>
    <%= ff.check_box :_destroy %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Survey Results', results_surveys_path(@survey) %>
<%= link_to 'Take Survey', question_take_path(@survey) %>
