
<button type="submit" class="button" id="newSurveyButton">
<%= link_to 'Create New Survey', new_survey_path %></button>

<div class="dashboard">
  <h2>Your Surveys</h2>


 <!--do while loop that shows existing surveys-->
  <% @author.surveys.each do |survey| %>

      <div class="survey-block">

      <span class="survey-title">
        <%= survey.name  %>
      </span>

      <span class="survey-links">


        <% session[:survey_id] = survey.id %>

        <%= link_to 'Results', results_surveys_path %>
        <%= link_to 'Take Survey', new_answer_path if survey.publish == true %>

    


        <%= link_to 'Show', survey %>

        <%= link_to 'Edit', edit_survey_path(survey) %>

        <%= link_to 'Delete', survey, method: :delete, data: { confirm: 'Are you sure?' } %>


      </span>

        <div style="clear:both;"></div>
  </div>

  <% end %>

</div>



</div>


<br>
