
<%= form_tag('/answers') do %>
 <% @questions.each do |q| %>
  <div>
    <%=label_tag q.value %>
   <%= text_field_tag "answer[#{q.id}]" %>
 </div>
<% end %>


 <%= submit_tag "Submit my answers" %>
<% end %>




<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
<%= link_to 'Take This Survey', new_answer_path %>
