
<%= form_tag('/answers') do %>
  <% @questions.each do |q| %>
  <div class="field">
    <%= label_tag q.value %>
    <% if q.question_type == "Yes/No"%>
      <p><%= radio_button_tag "answer[#{q.id}]","Yes" %>Yes</p>
      <p><%= radio_button_tag "answer[#{q.id}]","No" %>No</p>

    <% elsif q.question_type == "Short Answer" %>
      <%= text_field_tag "answer[#{q.id}]" %>
    <% elsif q.question_type == "Long Answer" %>
      <%= text_area_tag "answer[#{q.id}]" %>
    <% else %>
      <%= text_field_tag "answer[#{q.id}]" %>
    <% end %>
  </div>

  <% end %>


  <%= submit_tag "Submit my answers" %>
<% end %>
