
<p>
  <strong>Name:</strong>
  <%= @survey.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @survey.author_id %>
</p>

<p>
  <strong>Publish:</strong>
  <%= @survey.publish %>
</p>

<p>
  <strong>Description:</strong>
  <%= @survey.description %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
