<!DOCTYPE html>
<html>
<head>
  <title>SurveyOpossum</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Home", root_path if session[:author_id]%>
  <%= link_to "My surveys", surveys_path if session[:author_id]%>
  <%= link_to "Create Survey", new_survey_path if session[:author_id]%>
  <%= link_to "Logout", sessions_logout_path if session[:author_id]%>
<p id="notice"><%= notice %></p>
<%= yield %>

</body>
</html>
