<!DOCTYPE html>
<html>
<head>
  <title>SurveyOpossum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Home", root_path %>
  <%= link_to "My surveys", surveys_path %>
  <%= link_to "Create Survey", surveys_path %>
  <%= link_to "Logout", sessions_logout_path if session[:author_id]%>
<p id="notice"><%= notice %></p>
<%= yield %>

</body>
</html>
